<div class="container">
    <h1>Dummy Item List</h1>
    <ul class="list-group ">
      {{#each items}}
        <li class="list-group-item color">{{this}}</li>
        {{!-- <li class="list-group-item color">{{this}}</li> --}}
      {{/each}}
    </ul>
  </div>