<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta http-equiv="Expires" content="0">

  <title>{{title}}</title>
  <!-- Add this in the head section of your HTML -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  {{{body}}}

{{!-- <script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward();
    } 
</script> --}}

</body>
</html>