<div class="container">
  <h1>Dummy Item Cards</h1>
  <div class="card-deck ">
    {{#each items}}
      <div class="card color">
        <div class="card-body ">
          <h3 class="card-title">{{this}}</h3>
          <p class="card-text">This is first trial card page {{this}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>